<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Preorder
 */
-->
<!--
/**
 * Copyright © 2016 Amasty. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="amastyPreorder" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\Preorder\Ui\DataProvider\Product\Form\Modifier\Preorder</item>
                    <item name="sortOrder" xsi:type="number">30</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Amasty\Preorder\Block\Adminhtml\System\Config\RichSnippet">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="module_manager" xsi:type="object">Magento\Framework\Module\Manager</item>
            </argument>
        </arguments>
    </type>
</config>
